.popup__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 430px;
  border-radius: 10px;
  padding: 33px 36px 37px;
}

@media screen and (max-width: 710px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}
