.card__like {
  width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  background: none;
  background-image: url(../../../images/Like.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.card__like:hover {
  opacity: 0.5;
}
